*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.whole{
    max-width: 1600px;
    margin: 0 auto;
}    
header {
    height: 60px;
    width: 100%;
    background: #CE0000;
}
header li {
    width: 120px;
    height: 35px;
    background: #6500FF;
    float: left;
    margin-top: 13px;
    right: 70px;
    margin-left: 50px;
    list-style: none;
}
nav {
    float: right;
    padding-top: 10px; 
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    height: 16px;
    width: 100px;
    background: #6500FF;
    margin-right: 30px; 
}
nav ul li:last-child {
	margin-right: 60px;
}
main {
    height: 900px;
    width: 100%;
    background: black;
    position: absolute;
}
.body {
    height: 450px;
    width: 700px;
    background: white;
    position: absolute;
    top: 225px;
    left: 100px;
}
.inside {
    height: 300;
    width: 640;
    background: #FE0098;
    margin: 20px;
    position: relative;
}