*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.main {
    width: 100%;
    height: 960px;
    background: black;
}
.main .content {
    height: 200px;
    width: 1300px;
    background: white;
    position: absolute;
    margin-top: 350px;
    margin-left: 150px;
    margin-right: 150px;
}
.main .content .text {
    height: 60px;
    width: 900px;
    background: #FE0098;
    margin: 30px 200px 30px 200px;
}
.main .content button {
    height: 50px;
    width: 150px;
    background: #F306CC;
    margin: auto 575px 30px 575px;
}
header {
    height: 60px;
    width: 100%;
    background: #CE0000;
    position: sticky;
}
header .logo {
    height: 35px;
    width: 120px;
    background: #6500FF;
    float: left;
    margin: 13px auto auto 150px;
}
header nav {
    height: 16px;
    width: 620px;
    background: transparent;
    margin: 22px 150px 22px auto;
    float: right;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    height: 16px;
    width: 100px;
    margin-right: 26px;
    display: inline-block;
    background: #6500FF;
}
header nav ul li:last-child {
    margin-right: 0px;
}
.services {
    height: 782px;
    width: 100%;
    background: #853FDF;
    position: relative;
}
.services .title {
    height: 76px;
    width: 395px;
    margin: 50px auto auto 146px;
    background: white;
    position: absolute;
}
main .content-container {
    height: 451px;
    width: 1312px;
    background: transparent;
    left: 150px;
    top: 212px;
    position: absolute;
}
.first {
    margin-bottom: 51px;
}
.first .content {
    height: 200px;
    width: 400px;
    background: white;
    display: inline-block;
    margin-right: 50px;
}
.first .content:nth-child(3) {
    margin-right: 0px;
}
.content-container .second .content {
    height: 200px;
    width: 400px;
    background: white;
    display: inline-block;
    margin-right: 50px;
}
.content-container .second .content:nth-child(3) {
    margin-right: 0px;
}
.content .image {
    height: 50px;
    width: 50px;
    background: #60BB75;
    margin: 30px 0px 0px 30px;
    float: left;
}
.content .text {
    height: 160px;
    width: 240px;
    background: #A83A80;
    float: left;
    margin: 30px 30px 30px 30px;
}
.portfolio {
    height: 1112px;
    width: 100%;
    background: #9100FF;
    position: relative;
}
.portfolio .title {
    height: 76px;
    width: 395px;
    background: white;
    margin-top: 50px;
    margin-right: 150px;
    float: right;
}
.ports {
    width: 100%;
    height: 800px;
    background: white;
    top: 312px;
    position: absolute;
}
.example1 {
    height: 400px;
    width: 400px;
    background: #782424;
    display: inline-block;
}
.example2 {
    height: 400px;
    width: 400px;
    background: #0E55FB;
    display: inline-block;
}
.example3 {
    height: 400px;
    width: 400px;
    background: #0092F3;
    display: inline-block;
}
.example4 {
    height: 400px;
    width: 400px;
    background: #00309F;
    display: inline-block;
}
.example5 {
    height: 400px;
    width: 400px;
    background: #FB0019;
    display: inline-block;
}
.example6 {
    height: 400px;
    width: 400px;
    background: #756798;
    display: inline-block;
}
.example7 {
    height: 400px;
    width: 400px;
    background: #004CFF;
    display: inline-block;
}
.example8 {
    height: 400px;
    width: 400px;
    background: #9F4545;
    display: inline-block;
}