*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.whole{
    max-width: 1600px;
    margin: 0 auto;
}    
header {
    height: 60px;
    width: 100%;
    background: #CE0000;
}
header li {
    width: 120px;
    height: 35px;
    background: #6500FF;
    float: left;
    margin-top: 13px;
    right: 70px;
    margin-left: 50px;
    list-style: none;
}
nav {
    float: right;
    padding-top: 10px; 
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    height: 16px;
    width: 100px;
    background: #6500FF;
    margin-right: 30px; 
}
nav ul li:last-child {
	margin-right: 60px;
}
main {
    height: 900px;
    width: 100%;
    background: black;
    position: absolute;
}
.body {
    height: 450px;
    width: 700px;
    background: white;
    position: relative;
    top: 225px;
    left: 100px;
}
.inside {
    height: 300;
    width: 640;
    background: #FE0098;
    margin: 20px;
    position: absolute;
}
.body li {
    list-style: none;
    display: inline-block;
}
.one {
    height: 50;
    width: 150px;
    background: #F306CC;
    float: left;
}
.two {
    height: 50;
    width: 150px;
    background: #06BAF3;
}
#box {
	width: 100%;
	height: 782px;
	background: #853FDF;
    margin-top: 450px;
    padding: 150px 100px;
    position: relative;
}

#box .element {
	width: 31%;
	height: 500px;
	background: white;
	float: left;
}

#box .element:not(:last-child) {
	margin-right: 30px;
}
footer {
    height: 300px;
    width: 100%;
    background: #00FFA0;
    position: relative;
    top: 1682px;
}
.foot {
    height: 130px;
    width: 1200px;
    display: inline;
    background: transparent;
    position: relative;
    list-style: none;
    top: 100px;
    left: 100px;
}
.big {
    height: 50px;
    width: 1200px;
    background: #FF0090;
}
.small {
    height: 50px;
    width: 200px;
    background: #4DBCDF;
    left: 500px;
    top: 30px;
    position: relative;
}