*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    height: 60px;
    width: 100%;
    background: #CE0000;
    position: relative;
}
nav {
    height: 35px;
    width: 680px;
    background: transparent;
    top: 13px;
    left: 360px;
    position: absolute;
}
.one li {
    list-style: none;
    height: 16px;
    width: 100px;
    background: #6500FF;
    margin-right: 30px;
    float: left;
    margin-top: 10px;
    
}
.logo {
    height: 35px;
    width: 100px;
    background: #6500FF;
    left: 260px;
    position: absolute;
}
.two li {
    list-style: none;
    height: 16px;
    width: 100px;
    background: #6500FF;
    margin-left: 30px;
    margin-top: 10px;
    float: right;
}
main {
    height: 900px;
    width: 100%;
    background: black;
    position: relative;
}
.inside {
     height: 450px;
     width: 700px;
     top: 180px;
     right: 160px;
     float: right;
     background: white;
     position: absolute;
}
main .content {
    height: 300px;
    width: 640px;
    background: #FE0098;
    margin: 30px 30px 30px 30px; 
}
.inside button {
    float: right;
    margin-right: 30px;
}
.F {
    height: 50px;
    width: 150px;
    background: #F306CC;
}
.S {
    height: 50px;
    width: 150px;
    background: #06BAF3;
}
#box {
    height: 782px;
    width: 100%;
    background: #853FDF;
}
#box .element {
	width: 400px;
	height: 500px;
	background: white;
    float: left;
    margin: 141px 30px auto 40px;
}