*{
    box-sizing: border-box;
} 
header {
    background-color: steelblue;
    height: 100px;
    width: 100%
    
}

main {



    height: 500px;
    width: 100%
    
    
}


footer {
    background-color: rgb(224, 201, 65);
    height: 100px;
    width: 100%
}